<center>
<div class="post">
   <h3><%= post.title %></h3>
   <div class="row">
        <div class="col s8 m5">
          <div class="card">
            <div class="card-image">
              <img src="http://mwwebdesign.nl/wp-content/uploads/2011/05/over-mwwebdesign.jpg">
              <span class="card-title">Basics</span>
            </div>
            <div class="card-content">
              <p>Learning Ruby on Rails, Javascript, and working with AJAX and JQuery. All of the basics were covered. Check out soms projects here.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
           <div class="col s8 m5">
             <div class="card">
               <div class="card-image">
                 <img src="http://www.pimp-mysite.nl/wp-content/uploads/2015/12/1.jpg">
                 <span class="card-title">Advanced</span>
               </div>
               <div class="card-content">
                 <p>Taking it to the next level with a more indepth look into Rails and React.js. Check out severval projects here. </p>
               </div>
               <div class="card-action">
                 <a href="#">This is a link</a>
               </div>
               </div>
             </div>
           </div>
         </div>
    </div>
</center>
