<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<%= image_tag @post.image_url.to_s, class: 'bg' %>

<div class="content">
<h1><%= @post.title %></h1>

<p>
  <%= @post.body %>
</p>

<p>
   <% @post.categories.each do |categorie| %>
       <%= link_to "#{categorie.title}", genre, class: "btn btn-primary btn-xs" %>
   <% end %>
</p>
</div>
